<nz-page-header class="site-page-header">
  <nz-page-header-title>{{object?.id ? 'Cập nhật' : 'Tạo'}} {{label}}</nz-page-header-title>
</nz-page-header>
<form *ngIf="form" nz-form [formGroup]="form">
  <nz-form-item *ngFor="let field of fields">
    <nz-form-label [nzSpan]="7" [nzRequired]="field.isRequired">{{field.label}}</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzValidateStatus]="form.get(field.key)"
                     [nzAutoTips]="form.get(field.key).errors | buildAutoTip: field.label">
      <lib-field [field]="field" [form]="form"></lib-field>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button (click)="back()">Cancel</button>
      <button nz-button nzType="primary" type="submit" [disabled]="!form.valid || submitting" (click)="handleSubmit()">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
